// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// imported in the head

// Your CSS partials
@import "components/index";
@import "pages/index";
