<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'placeholder.png', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Portfolio</h1>
  </div>
</div>
