<div class="row my-5">
  <div class="col-12">
    <div id="contact">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "douglasmberkley@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
